<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>
<div class="container py-5">
  <%- include('navbar') -%>

  <% if(locals.data) { 
    let myData = [
      { label : 'nombre des utilisateurs', l: data.utilisateurs.length , fa:'fas fa-user'},
      { label : 'nombre des stations' , l : data.stations.length , fa:'fab fa-hubspot'},
      { label : 'nombre des chefs Station', l:data.chefStations.length , fa:'fas fa-users-cog'},
      { label : 'nombre des vehicules' , l : data.vehicules.length , fa:'fas fa-car'},
      { label : 'nombre des voyages' , l : data.voyages.length , fa:'fas fa-plane-departure'}
    ]  
  %>
  <div class="row text-uppercase mb-5">

    <% myData.forEach(v => { %>
    <div class="col-md-3 text-center mb-3">
      <div class="card box-light">
        <div class="card-body">
          <h1><i class="<%= v.fa %>"></i></h1>
          <h5 class="card-title"><%= v.label  %></h5>
          <h2><%= v.l %></h2>
        </div>
      </div>
    </div>
    <% }) %>

  </div><!-- end row-->
  <% } %>

  <canvas id="myChart" style="max-height: 450px"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script defer>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [0, 10, 5, 2, 20, 30, 45]
        }]
      },

      // Configuration options go here
      options: {}
    });
  </script>
</div>

<%- include('../partials/footer.ejs') -%>