<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>

<%- include('../../partials/section',{ title:'Mon Compte' , sub:'desactiver compte'}) -%>

<div class="container-fluid py-6">
  <div class="container">
    <%- include('navtabs') -%>
    <div class="row">
      <%- include('avatar') -%>

      <% if(locals.userInfo) { %>
      <div class="col-md-9">
        <form action="/utilisateur/profile/desactiver" method="POST" class="form-general bg-light p-0 mb-3">

          <div class="form-group">
            <label for="password">Entrer votre mot passe</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Entrer password"
              required>
            <p class="text-muted font-s14 p-0 m-0 mt-2">Si vous rencontrez des problèmes, veuillez contacter notre
              Service
              Client.</p>
            <p class="text-muted font-s14 p-0 m-0">Visitez notre page <a class="font-s14" href="/contact">Contact</a>
            </p>
          </div>

          <button type="submit" class="btn btn-dark" id="btn-delete">désactiver</button>
          <button type="reset" class="btn btn-danger">vider</button>
        </form>

        <div class="alert alert-danger" id="form-signin" role="alert">alter</div>

        <% if(locals.msg) { %>
        <div class="alert alert-primary" role="alert"><%= msg %></div>
        <% } %>

      </div>
      <% } %>
    </div><!-- end row -->
  </div>
</div>
<%- include('../../partials/footer.ejs') -%>