<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<section class="page-header">
  <div class="col-md-12">
    <h3>Profile</h3>
  </div>
  <div class="bread">
    <a href="/">home </a>
    <a href="/utilisateur/profile/supprimer" disabled> / supprimer compte </a>
  </div>
</section>

<div class="jumbotron container-v50">
  <div class="container py-5">
    <%- include('navtabs') -%>

    <div class="row">

      <%- include('avatar') -%>

      <% if(locals.userInfo) { %>
      <div class="col-md-9">
        <form action="/utilisateur/profile/supprimer" method="POST" class="form-signin form-p20 bg-light p-0 mb-3">

          <div class="form-group">
            <label for="password">Entrer votre mot passe</label>
            <input type="password" class="form-control" name="password" 
            id="password" placeholder="Entrer password"
              required>
              <small class="form-text text-muted">Pour supprimer votre compte, vous devez entrer votre mot de passe.</small>
          </div>          

          <button type="submit" class="btn btn-dark">supprimer</button>
          <button type="reset" class="btn btn-danger">vider</button>
        </form>

        <div class="alert alert-danger" id="form-signin" role="alert">alter</div>

        <% if(locals.msg) { %>
        <div class="alert alert-primary" role="alert"><%= msg %></div>
        <% } %>


      </div>
      <% } %>

    </div>

  </div>
</div>
<%- include('../../partials/footer.ejs') -%>