<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>
<section class="page-header">
  <div class="col-md-12">
    <h3>Ticket</h3>
  </div>
  <div class="bread">
    <a href="/">home </a>
    <a href="#" disabled> / ticket</a>
  </div>
</section>

<% if(locals.paymentInfo) { %>
<div class="container py-5">
  <div class="row">

    <div class="col-md-6">
      <div class="form-general form-bg-gray mb-3">

        <div class="form-group">
          <label>numero carte</label>
          <input type="text" class="form-control" id="numcarte" 
          name="numcarte" value="<%= paymentInfo.numcarte %>"
            required readonly>
        </div>

        <div class="form-group">
            <label>adresse email</label>
            <input type="email" class="form-control" id="email" name="email" 
            value="<%= email %>"
              required readonly>
          </div>

        <div class="form-group">
          <label>station</label>
          <input type="text" class="form-control" id="station" name="station" 
          value="<%= voyage.nom_station %>"
            required readonly>
        </div>

        <div class="form-group">
          <label>destination</label>
          <input type="text" class="form-control" id="destination" name="destination"
            value="<%= voyage.destination %>" required readonly>
        </div>

        <div class="form-group">
          <label>total</label>
          <input type="text" class="form-control" id="total" name="total" 
          value="<%= paymentInfo.newReserv.totalPrixPlaces %>"
            required readonly>
        </div>

        <div class="form-group">
          <label>nombre places reservées</label>
          <input type="text" class="form-control" id="nbplaces" name="nbplaces"
            value="<%= paymentInfo.newReserv.nbPlaceReserv %>" required readonly>
        </div>

        <button type="button" class="btn btn-dark" id="btn-export">exporter ticket</button>
      </div>
    </div>

    <% if(locals.msg) { %><div class="alert alert-primary" role="alert"><%= msg %></div><% } %>
  </div><!-- end row -->

</div>
<% } %>

<script>
document.getElementById('btn-export').onclick = () => {
  window.print()
}
</script>
<%- include('../partials/footer.ejs') -%>