<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>

<%- include('../partials/section',{ title:'Ticket', sub:'Ticket' }) -%>

<style>
  .toast {
    padding: 20px;
  }

  .toast small {
    text-transform: uppercase;
    color: #afafaf !important;
  }

  .toast h4 {
    font-size: 20px;
  }
</style>

<% if(locals.paymentInfo) { %>
<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">N°: <%= paymentInfo.newReserv.uidReservation %></strong>
          <small><%= paymentInfo.newReserv.nbPlaceReserv %> places</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <div>
            <small>DE</small>
            <h4><%= voyage.nom_station %></h4>
            <small>vers</small>
            <h4><%= voyage.destination %></h4>
          </div>
          <div>
            <small>Nom Complet</small>
            <h4><%= nom %> <%= prenom %></h4>
          </div>
          <div>
            <small>Email</small>
            <h4><%= email %></h4>
          </div>
          <div><small>TOTAL</small>
            <h4><%= paymentInfo.newReserv.totalPrixPlaces %></h4>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-warning" id="btn-export">exporter ticket</button>
    </div>
    <div class="col-md-8">
      <iframe id='mapcanvas'
        src='https://maps.google.com/maps?q=<%= encodeURIComponent(voyage.destination) %>&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
      </iframe>
    </div>
  </div>
</div>
<% } %>
<script defer>
  document.getElementById('btn-export').onclick = () => { window.print() }
</script>
<%- include('../partials/footer.ejs') -%>