<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>

<style>
  .card {
    font-family: Arial, sans-serif;    
    background-color: inherit;
    border: 4px solid #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
  }

  .card h3 {
    font-size: 1.2rem !important;
    font-weight: 600;
  }
</style>

<section class="page-header">
  <div class="col-md-12">
    <h3>Voyages</h3>
  </div>

  <div class="bread">
    <a href="/">home </a>
    <a href="/voyages" disabled> / Voyages</a>
  </div>
</section>


<div class="container py-5">
  <div class="row">

    <% if(locals.voyages && locals.voyages.length > 0) { %>
    <div class="col-md-6 mb-3">

      <% voyages.forEach(v => { 
        let url = `/reservations?destination=${v.destination}&station=${v.nom_station}&date=${v.timestamp_voyage}`  
      %>
      <div class="card text-uppercase">
        <div class="card-body">
          <h3 class="card-title m-0">
            <i class="fas fa-road"></i> <span>De <%= v.nom_station  %> <i class="fas fa-arrow-circle-right"
                style="color:#dc3545"></i> </span>
            <span> <%= v.destination %></span>
          </h3>
          <p class="muted font-s14 p-0" style="color:#8bc34a">
            <span><i class="fas fa-calendar-week"></i> <%= locals.formatDate(v.date_depart) %> </span>
            <span><i class="far fa-clock"></i> <%= v.heure_depart %>h</span>
          </p>
          <div style="display: flex; justify-content: space-between;">
            <div class="btn btn-outline-dark"><i class="fas fa-coins"></i> <%= v.prix_place %> DNT</div>
            <a href="<%= url %>"
              class="btn btn-danger">RESERVER <i class="fas fa-chevron-circle-right ml-2"></i>
            </a>            
          </div>

        </div>
      </div>
      <% }) %>

      
    </div>


    <div class="col-md-6 mb-3" style="display: flex;
    justify-content: center;
    align-items: center;">

      <iframe id='mapcanvas'
        src='https://maps.google.com/maps?q=<%= encodeURIComponent(locals.voyages[0].nom_station) %>&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
      </iframe>

    </div>

    <% } else { %>
    <div class="col-md-6">
      <div class="alert" role="alert">
        <h1 class="alert-heading"><i class="fas fa-info-circle"></i> Nous somme désolé</h1>
        <h4>Aucun voyage trouvé pour cette station, veuillez réessayer plus tard.</h4>
        <hr>
        <h3 class="mb-0">Merci et bonne voyage 😊.</h3>
      </div>
    </div>
    <% } %>

  </div>

</div>
<%- include('../partials/footer.ejs') -%>