<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>

<section class="page-header">
  <div class="col-md-12">
    <h3>Profile</h3>
  </div>

  <div class="bread">
    <a href="/">home </a>
    <a href="/utilisateur/profile" disabled> / Profile</a>
  </div>
</section>


<div class="jumbotron container-v50">
  <div class="container py-5">

    <%- include('navtabs') -%>

    <div class="row">

      <%- include('avatar') -%>

      <% if(locals.userInfo) { %>
      <div class="col-md-9">
        <form action="/utilisateur/profile" method="POST" class="form-general form-p20 bg-light p-0 mb-3">

          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrer nom"
              value="<%= userInfo.nom  %>" required>
          </div>

          <div class="form-group">
            <label for="prenom">prenom</label>
            <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Entrer prenom"
              value="<%= userInfo.prenom  %>" required>
          </div>

          <div class="form-group">
            <label for="email">Email adresse</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Entrer email"
              value="<%= userInfo.email  %>" required readonly>
          </div>

          <div class="form-group mb-5">
            <label for="tel">tel</label>
            <input type="text" class="form-control" id="tel" 
            name="tel" placeholder="Entrer numero telephone" 
            value="<%= userInfo.tel  %>"
            required>
          </div>

          <button type="submit" class="btn btn-dark">mettre à jour</button>
        </form>

        <%- include('../snackbar') -%>

        <% if(locals.msg) { %>
        <div class="alert alert-dark" role="alert"><%= msg %></div>
        <% } %>


      </div>
      <% } %>

    </div><!-- En row -->

  </div>
</div>

<%- include('../partials/footer.ejs') -%>