<%- include('../partials/head.ejs') -%>
<%- include('../partials/navbar') -%>

<section class="page-header">
  <div class="col-md-12">
    <h3>Profile</h3>
  </div>

  <div class="bread">
    <a href="/">home </a>
    <a href="/user/profile" disabled> / Profile</a>
  </div>
</section>


<div class="jumbotron container-v50">
  <div class="container py-5">

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/utilisateur/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilisateur/profile/password">Changer mot de passe</a>
      </li>
    </ul>


    <div class="row">

      <%- include('avatar') -%>

      <% if(locals.userInfo) { %>
      <div class="col-md-8">
        <form action="/user/profile" method="POST" class="form-signin p-0 mb-3">

          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrer nom"
              value="<%= userInfo.nom  %>" required>
          </div>

          <div class="form-group">
            <label for="prenom">prenom</label>
            <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Entrer prenom"
              value="<%= userInfo.prenom  %>" required>
          </div>

          <div class="form-group">
            <label for="email">Email adresse</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Entrer email"
              value="<%= userInfo.email  %>" required readonly>
          </div>

          <div class="form-group">
            <label for="tel">tel</label>
            <input type="text" class="form-control" id="tel" 
            name="tel" placeholder="Entrer numero telephone" 
            value="<%= userInfo.tel  %>"
            required>
          </div>

          <button type="submit" class="btn btn-success">mettre à jour</button>
        </form>

        <div class="alert alert-danger" id="form-signin" role="alert">alter</div>

        <% if(locals.msg) { %>
        <div class="alert alert-primary" role="alert"><%= msg %></div>
        <% } %>


      </div>
      <% } %>

    </div>

  </div>
</div>

<%- include('../partials/footer.ejs') -%>