<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>

    <% if(locals.station) { %>
    <form action="/admin/vehicules/ajout" method="POST" class="form-general form-bg-gray mb-3">

      <div class="form-group">
        <label>Nom Station</label>
        <input type="text" class="form-control" value="<%= station.nom_station %>" disabled>
      </div>

      <div class="form-group">
        <label for="proprietaire">proprietaire</label>
        <input type="text" class="form-control" id="proprietaire" name="proprietaire" placeholder="Enter proprietaire"
          required>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="numSerie">num Serie</label>
            <input type="text" class="form-control" id="numSerie" name="numSerie" placeholder="Enter numSerie" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="nbPlaces">nbPlaces</label>
            <input type="number" class="form-control" min="1" max="9" id="nbPlaces" name="nbPlaces"
              placeholder="Enter nombre places" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="nbPlaces">tel</label>
            <input type="tel" class="form-control" id="tel" name="tel" minlength="0" maxlength="8"
              placeholder="Enter tel" required>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-dark">Ajouter vehicule</button>
      <button type="reset" class="btn btn-danger">vider</button>
    </form>
    <% } %>
  </div>
</div>
<%- include('../../partials/footer.ejs') -%>