<%- include('partials/head.ejs') -%>
<%- include('partials/navbar') -%>
<div class="jumbotron container-v50">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-6 mb-3">

        <h1 class="display-4 flipInX">BIENVENUE</h1>
        <p>
          Louage partout, tout le temps
          Parce que votre voyage ne s’arrête pas, nous sommes toujours là pour vous.
          Notre service est simple et rapide.
          Il est facile de trouver vos voyages. 
          Aussi vous trouvez des Maps indéquantes.
        </p>

        <form action="/voyages" class="w-100 form-row" method="POST">
          <% if(locals.stations) { %>
          <div class="col-md-8">
            <select class="form-control" id="nomstation" name="nomstation">
              <% stations.forEach(s => { %>
              <option value="<%= s.nom_station %>"><%= s.nom_station %></option>
              <% }) %>
            </select>
          </div>
          <% } %>

          <div class="col-md-4">
            <button type="submit" class="btn btn-dark btn-block">rechercher</button>
          </div>
        </form>

      </div>

      <div class="col-md-6">
        <img src="img/trans.png" alt="" style="max-width: 500px" class="front-img float-right">
      </div>
    </div>

  </div>
</div>
<%- include('partials/footer.ejs') -%>