<%- include('partials/head.ejs') -%>
<%- include('partials/navbar') -%>

<style>
  .row {
    color: #000000 !important;
  }

  .row p:first-child {
    font-size: 22px;
    letter-spacing: 2px;
  }

  .row a {
    text-decoration: none;
  }

  .col-md-2 {
    display: flex
  }

  .row span {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="container py-5">
  <div class="row">

    <% if(locals.voyages) { %>
    <div class="col-md-6">
      <ul class="list-group">

        <% voyages.forEach(v => { %>
        <li class="list-group-item mb-3" style="box-shadow: 0 2px 5px 0 rgba(19,41,104,.2); background-color: #fff;">

          <a href="" style="font-size: 16px">
            <div class="row">
              <div class="col-md-4">
                <p><i class="fas fa-map-marker-alt"></i> <%= v.nom_station %></p>
                <p class="muted font-s14">
                  <i class="fas fa-road"></i> <%= v.destination %>
                </p>
              </div>
              <div class="col-md-4">
                <p><i class="fas fa-clock"></i> <%= v.heure_depart %>h</p>
                <p><i class="fas fa-table"></i> <%= v.date_depart %></p>
              </div>
              <div class="col-md-2">
                <span class="badge badge-pill badge-success">
                  <p><i class="fas fa-coins"></i></p>
                  <div><%= v.prix_place %>DT</div>
                </span>
              </div>
            </div>
          </a>

        </li>
        <% }) %>
      </ul>
    </div>
    <% } %>


    <div class="col-md-6 mb-3" style="display: flex;
    justify-content: center;
    align-items: center;">
      <img src="img/trans.png" alt="" style="max-width: 500px" class="front-img float-right">
    </div>


  </div>

</div>
<%- include('partials/footer.ejs') -%>