<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container py-5">
  <%- include('../navbar') -%>

  <% if(locals.chefStations && locals.chefStations.length > 0) { %>

  <form action="/admin/stations/ajout" method="POST" class="form-general form-bg-gray mb-3">

    <% chefStations.forEach(chef => { %>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Chef station</label>
      <select class="form-control" id="exampleFormControlSelect1" name="chef">
        <option value="<%= chef.id %>"><%= chef.email %></option>
      </select>
    </div>
    <% })%>

    <div class="form-group">
      <label for="nom">nom station</label>
      <input type="text" class="form-control" id="nom" name="nom" placeholder="Enter nom station" required>
    </div>

    <div class="form-group">
      <label for="ville">ville</label>
      <input type="text" class="form-control" id="ville" name="ville" placeholder="Enter ville" required>
    </div>

    <div class="form-group">
      <label for="tel">tel</label>
      <input type="text" class="form-control" id="tel" name="tel" placeholder="Enter tel station" required>
    </div>

    <button type="submit" class="btn btn-dark">Ajout</button>
    <button type="reset" class="btn btn-danger">vider</button>
  </form>


  <%- include('../../snackbar') -%>


  <% } %>
</div>
<%- include('../../partials/footer.ejs') -%>