<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container py-5">
  <%- include('../navbar') -%>

  <% if(locals.utilisateurs) {  %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>nom</th>
          <th>prenom</th>
          <th>email</th>
          <th>tel</th>
          <th>role</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% utilisateurs.forEach((u, i) => {  %>
        <tr>
          <td><%= i %></td>
          <td><%= u.nom %></td>
          <td><%= u.prenom %></td>
          <td><%= u.email %></td>
          <td><%= u.tel %></td>
          <td><%= u.role %></td>
          <td>
            <a class="btn btn-danger btn-delete" href="/admin/utilisateurs/supprimer?email=<%= u.email %>"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <%           
            let begin = -5, end = 0
              for(let i = 0; i <= (utilisateurs.length / 5); ) {
                begin += 5
                end += 5
                i++
              %>
      <li class="page-item">
        <a class="page-link" href="/admin/utilisateurs?b=<%= begin %>&e=<%= end %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>

</div>
<%- include('../../partials/footer.ejs') -%>