<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container py-5">
  <%- include('../navbar') -%>

  <% if(locals.utilisateurs) {  %>
  <div id="root"></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>email</th>
        <th>role</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% utilisateurs.forEach((u, i) => {  %>
      <tr>
        <td><%= i %></td>
        <td><%= u.email %></td>
        <td><%= u.role %></td>
        <td>
          <a href="#" class="btn btn-success">M</a>
          <a href="#" class="btn btn-danger">S</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>


  
</div>
<%- include('../../partials/footer.ejs') -%>