<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>

    <% if(locals.vehicules) { %>
    <form action="/chefstation/voyages/ajout" method="POST" class="form-general form-bg-gray mb-3">

      <input type="text" class="form-control" name="id_station" value="<%= id_station %>" hidden readonly>

      <div class="form-group">
        <label>Nom Station</label>
        <input type="text" class="form-control" value="<%= nom_station %>" disabled>
      </div>

      <div class="form-group">
        <label>Vehicules</label>
        <input type="text" class="form-control" id="vehicule" name="vehicule" list="vehicules" 
        placeholder="Entrer vehicule" required>
        <datalist id="vehicules">
          <% locals.vehicules.forEach(v => { %>
          <option value="<%= v.num_serie %>">
            <% }) %>
        </datalist>
      </div>

      <div class="form-group">
        <label for="destination">destination</label>
        <input type="text" class="form-control" id="destination" name="destination"  pattern="[a-zA-Z ]+"
        placeholder="Entrer destination"
          required>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="heureDepart">heure Depart</label>
            <input type="number" class="form-control" min="0" max="24" id="heureDepart" name="heureDepart"
              placeholder="Entrer l'heure de depart" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="dateDepart">date Depart</label>
            <input type="date" class="form-control" id="dateDepart" name="dateDepart" 
            placeholder="Entrer date depart" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="prixPlace">prix place</label>
            <input type="text" class="form-control" id="prixPlace" 
            name="prixPlace" placeholder="Enter prix place"
              required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="nbPlaces">nombre de Places</label>
            <input type="number" class="form-control" id="nbPlaces" min="1" max="9" name="nbPlaces"
              placeholder="Enter nombre de places" required>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-dark" id="btn-ajout">Ajouter voyage</button>
      <button type="reset" class="btn btn-danger">vider</button>
    </form>
    <% } %>

    <%- include('../../snackbar') -%>

    <% if(locals.msg) { %>
    <div class="alert alert-primary" role="alert"><%= msg %></div>
    <% } %>
  </div>
</div>

<script>
  let btnAjout = document.getElementById('btn-ajout')
  btnAjout.disabled = true
  document.getElementById('prixPlace').onkeyup = (e) => {
    btnAjout.disabled = +(e.target.value) > 0 ? false : true
  }
</script>
<%- include('../../partials/footer.ejs') -%>